# When using the Terraform scripts to create your container registry etc then
# the base.env file will be generated for you
# If you want to use existing resources then create a copy of this file without 
# the '.example' suffix and update the values below
TF_VAR_azure_search_admin_key=""            # The admin key for the search service
TF_VAR_azure_search_name=""                 # The name of the service search
TF_VAR_azure_search_query_key=""            # The query key for the search service
TF_VAR_cognitive_services_key=""            # The key for the cognitives services instance
TF_VAR_container_registry=""                # The container registry name, e.g. myacr.azurecr.io
TF_VAR_container_registry_admin_password="" # The password to log in to the registry
TF_VAR_container_registry_admin_username="" # The username to log in to the registry
TF_VAR_storage_account_connection_string="" # The connection string for the storage account where data will be read from
TF_VAR_storage_account_name=""              # The name of the storage acount where the data will be read from
TF_VAR_storage_container_name=""            # The name of the container where the data will be read from
