aiohttp==3.10.10
azure-storage-blob==12.23.1
azure-identity==1.19.0
fastapi==0.115.0
PyMuPDF==1.24.11
langchain==0.3.3
langchain_community==0.3.2
langchain_text_splitters==0.3.0
openai==1.51.2
python-dotenv==1.0.1
uvicorn==0.31.1
matplotlib==3.9.2
tiktoken==0.8.0
